nav li{
    list-style-type: none;
    display: inline;
    margin: 15px;
    padding: 5px;
}
nav li:hover{
    background-color: blueviolet;
    color: white;
}
nav li a:hover{
    
}
nav li a {
    text-decoration: none;
}
footer{
    text-align: center;
    background-color: cadetblue;
    height: 100px;
    width: 100%;
    color: wheat;
    
}
